[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
requests = "*"
pytest = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"
"flake8" = "*"
yapf = "*"

[requires]
python_version = "3.6"
