[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-cov = "*"
gunicorn = "*"
django = "*"

[dev-packages]
pytest = "*"
"pep8" = "*"
"flake8" = "*"
yapf = "*"
pyflakes = "*"
pytest-django = "*"

[requires]
python_version = "3.6"
