[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
requests = "*"
pytest = "*"
pytest-cov = "*"
gunicorn = "*"

[dev-packages]
"pep8" = "*"
"flake8" = "*"
yapf = "*"
flask-testing = "*"
pyflakes = "*"
flask-debugtoolbar = "*"

[requires]
python_version = "3.6"
